.transaction-history {
  border-collapse: collapse;
}

th {
  padding: 10px;
  background-color: #76b1f5;
}

td {
  text-align: center;
  padding: 10px;
}

tr:nth-child(n) {
  background-color: #d2db9c;
}

tr:nth-child(2n) {
  background-color: #92b9b7;
}
